.search-bar {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid lightgrey;
  border-radius: 4px;
}
.search-bar > * {
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 0.45rem;
  font-weight: bolder;
  font-size: 1.2rem;
}
input {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid grey;
  border-radius: inherit;
}
input:focus {
  outline: none;
}
